<%- include('./layouts/head') %>
<%- include('./layouts/nav') %>

<% productos.forEach(function(producto) { %>
<div class=" container d-inline">
    
    <div class="card " style="width: 18rem; min-width: 15rem;">
      <img class="card-img-top" id="imagenProducto" src=<%= producto.imagen %>>
      <div class="card-body">
        <h5 class="card-title" id="nombreProducto" style="font-weight: bold;"><%= producto.nombre %></h5>
        <p class="card-text" id="descripcionProducto">Descripcion: <%= producto.descripcion %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" id="precioProducto" style="font-weight: bold;"> Precio: <%= producto.precio %></li>
        <!-- <li class="list-group-item" style="font-weight: bold;"><%= producto.time %></li> -->
        <li class="list-group-item" style="font-weight: bold;">Stock: <%= producto.stock %> unidades</li>
      </ul>
      <div class="card-body">
        <button action="/carrito/agregar" method="post" type="submit" class="btn btn-primary input-medium pull-right" id="btnCarrito">Agregar al carrito</button>
      </div>
  </div>
  
  
</div>
  <% }); %>
  
  <script src="../controllers/v1/carrito-controller.js"></script>